:root {
    /* Fontes */
    --momo-font: "Momo Trust Display", sans-serif;
    --stack-font: "Stack Sans Text", sans-serif;
    --archivo-font: "Archivo Black", sans-serif;
    --mozilla-headline-font: "Mozilla Headline", sans-serif;

    /* Cores */
    --classic-green-color-v1: #01925b;
    --classic-green-color-v2: #017d4f;
    --classic-green-color-v3: #0e634c;
    --classic-green-color-v4: #9ceacc;
    --classic-green-color-v5: #028252;
    --classic-green-color-v6: #89a574;

    --classic-beige-color-v1: #fbe6cb;
    --classic-beige-color-v2: #e6c99d;
    --classic-beige-color-v3: #e6ceaa;
    --classic-beige-color-v4: #c89a5f;
    --classic-beige-color-v5: #7a5e38;
    --classic-beige-color-v6: #debe81;
    --classic-beige-color-v7: #553201;
    --classic-beige-color-v8: #482b02;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--classic-beige-color-v2);
}

header {
    background-image: linear-gradient(to top, #9ca6c4, #7f92cc);
    padding: 1em;
    display: flex;
}

header img.logo {
    margin-right: 3em;
}

header nav {
    justify-content: space-between;
    margin-top: 2em;
}

header nav a.nav-link {
    font: 900 1.5em var(--momo-font);
    color: var(--classic-beige-color-v6);
    border-radius: 7px;
    padding: 5px 10px;
    margin: 1em;

    transition: all 0.3s ease-in-out;
}

header nav a.nav-link:hover {
    color: var(--classic-beige-color-v4);
}

main {
    background-image: url("assets/background.png");
    background-position: center center;
    background-size: 100% 100%;
    height: 100vh;

    color: var(--classic-beige-color-v8);
}

main section#welcome {
    padding: 2em 10em;
}


main section#welcome h1 {
    font: bolder 5vw var(--archivo-font);
}

main section#welcome h2 {
    font: bold 2.5vw var(--archivo-font);
}


main section#welcome div#adventure {
    margin-left: 120vh;
}

p {
    font: bold 1.2em var(--mozilla-headline-font);
    margin: 0.2em;
}

strong {
    text-shadow: 0 0 1px var(--classic-beige-color-v8);
}